<h2>The Venues</h2>
<ul class="nav nav-sidebar">
  {{#each venues as |venue|}}
    {{#active-link}}
      {{link-to venue.name 'venues.venue' venue.slug}}
    {{/active-link}}
  {{else}}
    <li><a href="#">No venues.</a></li>
  {{/each}}
</ul>
